body{
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    text-align: center;
    color: black;
}

.container{
    border: 1px solid black;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .box{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
}

div:nth-child(3){
    flex-shrink: 3;
}

div:nth-child(8){
    flex-shrink: 6;
}

div:nth-child(5){
    flex-grow: 10;
} */

.box{
    background-color: brown;
    /* width: 100px;
    height: 100px; */
    margin: 5px;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    flex-basis: 250px;
}

div:nth-child(1){
    /* width: 400px; */
    flex-basis: 150px;
    flex-shrink: 5;
}

div:nth-child(2){
    flex-basis: 300px;
    flex-shrink: 3;
}

div:nth-child(3){
    flex-basis: 180px;
    flex-grow: 1;
}